body{

background:#28282B;
font-family:Poppins,sans-serif;
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
color:white;

}

.container{

width:650px;
background:#35363A;
padding:40px;
border-radius:20px;

}

input{

width:100%;
padding:15px;
margin:15px 0;
border:none;
border-radius:10px;
background:#222;
color:white;

}

button{

width:100%;
padding:15px;
background:#FFD166;
border:none;
border-radius:10px;
font-size:17px;
font-weight:bold;
cursor:pointer;

}

.card{

margin-top:30px;
background:#222;
padding:25px;
border-radius:15px;

}

.progress{

margin-top:25px;

}

.step{

margin:15px 0;
font-size:18px;

}