<footer class="footer">

    <div class="footer-container">

        <div class="footer-brand">

            <h2>StarTone</h2>

            <p>

                Lightroom Presets
                untuk kalian yang ingin menghasilkan
                foto dengan warna yang konsisten
                dan menarik.

            </p>
            

            <div class="footer-social">

                <a href="https://instagram.com/startone.id" target="_blank">

                    <i class="fa-brands fa-instagram"></i>

                </a>

                <a href="https://tiktok.com/@startone.id" target="_blank">

                    <i class="fa-brands fa-tiktok"></i>

                </a>

                <a href="https://wa.me/6289518939925" target="_blank">

                    <i class="fa-brands fa-whatsapp"></i>

                </a>

            </div>

        </div>

        <div>

            <h3>Navigasi</h3>

            <ul>

                <li><a href="index.html">Home</a></li>

                <li><a href="shop.html">Shop</a></li>

                <li><a href="guide.html">Panduan</a></li>

                <li><a href="guide.html#faq">FAQ</a></li>

            </ul>

        </div>

        <div>

            <h3>Bantuan</h3>

            <ul>

                <li><a href="guide.html#tutorial">Tutorial</a></li>

                <li><a href="guide.html#terms">Syarat & Ketentuan</a></li>

                <li><a href="privacy-policy.html">Kebijakan Privasi</a></li>

                <li><a href="refund-policy.html">Kebijakan Refund</a></li>

                <li><a href="guide.html#contact">Hubungi Kami</a></li>

            </ul>

        </div>

    </div>

    <div class="copyright">

        © 2026 StarTone.
        All Rights Reserved. Developed by StarTone

    </div>

</footer>

<button id="backToTop">

    <i class="fa-solid fa-arrow-up"></i>

</button>