<!-- ===========================
     FAVICON
=========================== -->

<link rel="icon" href="icon/StarTone Circle.png" type="image/x-icon">

<link rel="shortcut icon" href="icon/StarTone Circle.png">

<link rel="apple-touch-icon" href="icon/StarTone Circle.png">

<!-- ===========================
     SEO
=========================== -->

<meta name="description"
content="StarTone menyediakan preset Lightroom Premium untuk Android, iPhone, Windows, dan Mac.">

<meta name="keywords"
content="Preset Lightroom, Lightroom Mobile, Lightroom PC, StarTone, Preset Premium">

<meta name="author"
content="StarTone">

<meta name="robots"
content="index,follow">

<meta name="theme-color"
content="#28282B">

<!-- ===========================
     OPEN GRAPH
=========================== -->

<meta property="og:type"
content="website">

<meta property="og:title"
content="StarTone | Premium Lightroom Presets">

<meta property="og:description"
content="Preset Lightroom Premium dengan warna profesional.">

<meta property="og:image"
content="https://DOMAINMU/images/preview.jpg">

<meta property="og:url"
content="https://DOMAINMU">

<!-- ===========================
     TWITTER
=========================== -->

<meta name="twitter:card"
content="summary_large_image">

<meta name="twitter:title"
content="StarTone | Premium Lightroom Presets">

<meta name="twitter:description"
content="Preset Lightroom Premium.">

<meta name="twitter:image"
content="https://DOMAINMU/images/preview.jpg">

<link rel="canonical"
href="https://DOMAINMU/">